name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: macos-11
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Run build script
        run: /bin/bash buildall

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.3
        with:
          path: $GITHUB_WORKSPACE/dist/*
          if-no-files-found: error
          retention-days: 90
